*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: monospace;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: #9358f2;
    padding: 1em 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.logo h1 {
    font-size: 2rem;
}



nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding-left: 1em;
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: blueviolet;
}

article {
    background: url("../images/thirdlanding.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #9358f2;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}





footer {
    background: #751fff;
}

.text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}